<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/foradmin.css">

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(193, 230, 225);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 80px 60px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(128, 181, 183);
}
</style>
</head>


<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#bme">BME</a></li>
  <li><a href="#contact">Contact</a></li>

</ul>
<h2><a name="home">first </a></h2>

<div id="home" style="height: 600px;"> here is homepage
  <div class="container">

    <!-- 左对齐 -->
    <div class="media">
      <div class="media-left">
        <img src="/templates/eg.png"  class="media-object" style="width:200px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">1 </h4>
        <p>example </p>
      </div>
    </div>
    <hr>
    
    <!-- 右对齐 -->
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">2</h4>
      </div>
      <div class="media-right">
        <img src="/templates/eg.png"  class="media-object" style="width: 200px;">
      </div>
    </div>
  </div> </div>
<p>... ...</p>
<div id="bme" style="height: 600px;"> here is pic of bme </div>
<p>... ...</p>
<div id="contact" style="height: 600px;"> here is our contact </div>
<p>... ...</p>


</body>
</html>
