<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
    <title>login</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <style>
      html, body, pre, code, kbd, samp {
          font-family: "kongtext";
          src: url(fonts/kongtext.ttf)
      }
    </style>
</head>
  
<body>
  <form class="row g-3" style="width: 600px; margin: 100px auto;" method="post">     
        <section class="nes-container">
          <section class="message-list">
            <section class="message -left">
              <i class="nes-bcrikko"></i>
              <!-- Balloon -->
              <div class="nes-balloon from-left" >
                <p>Hello Nina</p>
              </div>
            </section>
            <br>
            <br>
           

        
            <section class="message -right">
              <!-- Balloon -->
              <div class="nes-balloon from-right">
                <a class="nes-btn" href="{{url_for('admin')}}"  >   &#20&#20&#20   hi   &#20&#20&#20   </a>
              </div>
              <i class="nes-bcrikko"></i>
            </section>
          </section>
        </section>


  </form>
</body>
</html>
